.modal-overlay {
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.7); 
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1000;
}
.modal-box {
  width:90%;          
  max-width:400px;      
  padding:20px;
  box-sizing:border-box;
   border-radius:8px;
  box-sizing:border-box;
  background-color: rgb(13, 42, 43);
}


.close-btn {
  position:absolute;
  top:10px;
  right:15px;
  background:none;
  border:none;
  font-size:24px;
  cursor:pointer;
  color:white;
}

.open-btn {
  padding:10px 20px;
  font-size:18px;
  background-color:#007bff;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
}
body{
  padding-top:60px;
  
}

header{
  border: 2px solid rgb(27, 22, 22);
  border-radius: 10px;;
  display: flex;
  padding: 10px 20px ;
  padding-right:50px;
  justify-content: flex-end;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  min-height:20px;
  z-index:1000;
  background-color: rgb(211, 182, 182);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing:border-box; 

}