.form-card {
  display: flex;
  flex-direction:column;
  gap:8px;             
  margin-bottom:15px; 
  text-align: left;
}
.form-card label {
  font-weight:bold;
  font-size:14px;
  color:white;
}

.form-card input {
  width:100%;
  padding:10px;
  border:1px solid white;
  border-radius:4px;
  box-sizing:border-box; 
}